
body {
  font-family: 'Baloo Tamma 2', sans-serif;
  margin: 0;
  background: #fff8f0;
  color: #2e2e2e;
}
header, footer {
  background: #8e1515;
  color: white;
  padding: 1rem;
  text-align: center;
}
.section {
  padding: 2rem;
  text-align: center;
}
.image-center {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
}
